/*
body {
  font-family: 'Nunito', sans-serif;
  background-color: #58ACFA;
  padding: 2%;
}
*/

/*
.container {
  padding: 15px;
}

header {
  width: 100%;
  background-color: white;
}

.header__logo {
  width: 30%;
}

.navigation {
  width: 100%;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    color: black;
}

nav li {
  float: right;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

nav li a {
    display: block;
    color: #58ACFA;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #58ACFA;
    color: white;
}

section {
  width: 100%;
  margin: auto;
  background-color: white;
  text-align: center;
}

aside {
  width: 100%;
  float: left;
  margin: auto;
  text-align: center;
  height: 30vh;
}

aside ul {
  list-style-type: none;
}

.aside__features {
  background-color: #EBF5FB;
}

.aside__weather {
  background-color: #FEF9E7;
}
*/

/*
h1 {
  font-size: 3rem;
  font-family: 'Leckerli One', cursive;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 1.3rem;
  font-family: 'Leckerli One', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}
*/

/*
img {
  width: 50%;
  padding-bottom: 5%;
}

ul li {
  font-family: 'Open Sans', sans-serif;
}
*/

/*
footer {
  clear: both;
  width: 94%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: #7FB8EB;
  padding: 3%;
  text-align: center;
}
*/

/* Media Quieries*/

@media screen and (min-width: 675px) {

    body {
      background-color: #7FB8EB;
    }

    aside {
      width: 50%;
}

.header__logo {
  width: 10%;
}
}

@media screen and (min-width: 999px) {

  body {
    background-color: #7FA6EB;
  }
  aside {
    width: 50%;
}

.header__logo {
  width: 10%;
}

}

@media screen and (min-width: 1280px) {

  body {
    background-color: #7FEBE2;
  }

  aside {
    width: 50%;
}

.header__logo {
  width: 10%;
}

}
