h1 {
  font-size: 3rem;
  font-family: $primary-font;
}

h2 {
  font-size: 1.5rem;
  font-family: $secondary-font;
}

h3 {
  font-size: 1.3rem;
  font-family: $primary-font;
}

p {
  font-family: $secondary-font;
}
